.App {
  text-align: center;
}
.logo {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}
.logo_link {
  padding: 16px;
  margin: 8px;
  color: #333333;
  text-decoration: none;
}
